beautifulsoup4==4.13.3
blinker==1.9.0
certifi==2025.1.31
cffi==1.17.1
charset-normalizer==3.4.1
click==8.1.8
cryptography==44.0.2
easygui==0.98.3
feedparser==6.0.11
Flask==3.1.0
Flask-Dropzone==2.0.0
google==3.0.0
idna==3.10
itsdangerous==2.2.0
Jinja2==3.1.6
MarkupSafe==3.0.2
pdf2doi==1.7
pdfminer.six==20221105
pdftitle==0.11
pycparser==2.22
PyMuPDF==1.25.5
pypdf==5.4.0
PyPDF2==2.0.0
pyperclip==1.9.0
python-doi==0.2.0
requests==2.32.3
sgmllib3k==1.0.0
soupsieve==2.6
typing_extensions==4.13.0
urllib3==2.3.0
Werkzeug==3.1.3
